
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

#container{
    background-color: white;
    width: 500px;
    border-radius: 20px;
}

div h3{
    font-size:larger;
    text-align: center;
}

form input{
    display: block;
}