<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo-app | Cadastre-se</title>
    <link rel="stylesheet" href="static/styles/estilo-cadastro.css">
</head>
<body>
    <div id="container">
        <h3>Cadastre-se</h3>
        <form action="https://webhook.site/4d5ac6b9-a5d5-4e79-9462-1f59e7fab92d" method="POST">
            <label for="name">Nome</label>
            <input id="name" type="text" name="name" placeholder="Digite seu Nome">
            
            <label for="sobrenome">Sobrenome</label>
            <input id="sobrenome" type="text" name="sobrenome" placeholder="Digite seu sobrenome">
            
            <label for="username">Username</label>
            <input id="username" type="text" name="username" placeholder="Digite seu username">
            
            <label for="email">Email</label>
            <input id="email" type="email" name="email" placeholder="Digite seu email">
            
            <label for="password">Senha</label>
            <input id="password" type="password" name="password" placeholder="Crie sua senha">
            
            <label for="confirm-password">Repita sua senha</label>
            <input id="confirm-password" type="password" name="confirm-password" placeholder="Repita sua senha">
            
            <input type="submit" value="Quero me cadastrar!">
        </form>
    </div>
</body>
</html>