<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GeoShot | Página Inicial</title>
    <link rel="stylesheet" href="static/styles/allStyles
    .css">
</head>
<body>
    <div class="main">
        <div class="menu-lateral">
            <div class="logo"></div>
            <div class="link-menu-lateral">
                <a href="#">Página inicial</a>
            </div>
            <div class="link-menu-lateral">
                <a href="#">Criar desafio</a>
            </div>
            <div class="link-menu-lateral">
                <a href="#">Perfil do usuário</a>
            </div>
            <div class="link-menu-lateral">
                <a href="#">Pesquisar amigos</a>
            </div>
        </div>

        <div class="feeds">
            <div class="post-feed">
                <div class="post-feed-identifier">
                    <div class="foto-usuario">
                        <img src="static/images/usuario.png">
                    </div>
                    <div class="nome-usuario">Username-aqui</div>
                </div>
                <div class="foto-desafio">
                    <img src="static/images/paisagem.jpg">
                </div>
                <div>
                    <button class="btn-shot">shot</button>
                </div>
            </div>
            
            <div class="post-feed">
                <div class="post-feed-identifier">
                    <div class="foto-usuario">
                        <img src="static/images/usuario.png">
                    </div>
                    <div class="nome-usuario">Username-aqui</div>
                </div>
                <div class="foto-desafio">
                    <img src="static/images/paisagem.jpg">
                </div>
                <div>
                    <button class="btn-shot">shot</button>
                </div>
            </div>

            <div>
                <h2>Não há mais desafios! Go get'em tiger!</h2>
            </div>
        </div>
    </div>
</body>
</html>