<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document | Perfil de Usuário</title>
    <link rel="stylesheet" href="static/styles/allStyles.css">
</head>
<body>
    <div class="main">
        <div class="main">
            <div class="menu-lateral">
                <div class="logo"></div>
                <div class="link-menu-lateral">
                    <a href="#">Página inicial</a>
                </div>
                <div class="link-menu-lateral">
                    <a href="#">Criar desafio</a>
                </div>
                <div class="link-menu-lateral">
                    <a href="#">Perfil do usuário</a>
                </div>
                <div class="link-menu-lateral">
                    <a href="#">Pesquisar amigos</a>
                </div>
            </div>
    
            <div class="feeds">
                <div class="post-feed">
                    <div class="post-feed-identifier">
                        <div class="foto-usuario">
                            <img src="static/images/usuario.png">
                        </div>
                        <div class="nome-usuario">Username-aqui</div>
                    </div>
                    <h4>Minha taxa de acurácia: 59 %</h4>
                    <div><a href="#">Meus Desafios:</a> 45</div>
                    <div><a href="#">Resolvidos por mim:</a> 25</div>
                    <div><a href="#">Editar perfil</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>