<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geoshot | Resolvidos por mim</title>
    <link rel="stylesheet" href="static/styles/allStyles.css">
</head>
<body>
    <div class="main">
        <div class="menu-lateral">
            <div class="logo"></div>
            <div class="link-menu-lateral">
                <a href="#">Página inicial</a>
            </div>
            <div class="link-menu-lateral">
                <a href="#">Criar desafio</a>
            </div>
            <div class="link-menu-lateral">
                <a href="#">Perfil do usuário</a>
            </div>
            <div class="link-menu-lateral">
                <a href="#">Pesquisar amigos</a>
            </div>
        </div>


        <div class="feeds">
            <h3>Desafios resolvidos por mim</h3>
            <div class="post-feed">
                <div class="foto-desafio">
                    <img src="static/images/paisagem.jpg">
                </div>
                <div class="dados-meus-desafios">
                    <div>Resposta: </div>
                    <div>Acurácia média: </div>
                </div>
            </div>
            
            <div class="post-feed">
                <div class="foto-desafio">
                    <img src="static/images/paisagem.jpg">
                </div>
                <div class="dados-meus-desafios">
                    <div>Resposta: </div>
                    <div>Acurácia média: </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>